/* [project]/Documents/WS/widelystudioswebsite/node_modules/@once-ui-system/core/dist/components/Input.module.scss.module.css [app-client] (css) */
.Input-module-scss-module__g5IvlG__base {
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
  min-height: var(--static-space-56);
}

.Input-module-scss-module__g5IvlG__base.Input-module-scss-module__g5IvlG__focused, .Input-module-scss-module__g5IvlG__base.Input-module-scss-module__g5IvlG__filled {
  border-color: var(--neutral-border-medium);
}

.Input-module-scss-module__g5IvlG__base:has(.Input-module-scss-module__g5IvlG__placeholder):has(.Input-module-scss-module__g5IvlG__floating) .Input-module-scss-module__g5IvlG__placeholder {
  padding-top: var(--static-space-12);
}

.Input-module-scss-module__g5IvlG__textareaBase:after {
  pointer-events: none;
  content: "";
  width: var(--static-space-32);
  height: var(--static-space-32);
  border: 1px solid var(--neutral-border-strong);
  background-color: var(--neutral-alpha-weak);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%)translateY(50%)rotate(45deg);
}

.Input-module-scss-module__g5IvlG__textareaBase ::-webkit-resizer {
  display: none;
}

.Input-module-scss-module__g5IvlG__label {
  left: var(--static-space-16);
  color: var(--neutral-on-background-medium);
  pointer-events: none;
  transform-origin: 0;
  transition: transform .3s, top .3s, left .3s;
  position: absolute;
}

.Input-module-scss-module__g5IvlG__inputLabel {
  top: 50%;
  transform: translateY(-50%);
}

.Input-module-scss-module__g5IvlG__inputLabel.Input-module-scss-module__g5IvlG__floating {
  transform: scale(.75);
}

.Input-module-scss-module__g5IvlG__textareaLabel {
  top: var(--static-space-16);
}

.Input-module-scss-module__g5IvlG__textareaLabel.Input-module-scss-module__g5IvlG__floating {
  transform: scale(.75) translateY(calc(-1 * var(--static-space-16)));
}

.Input-module-scss-module__g5IvlG__s {
  min-height: var(--static-space-48);
}

.Input-module-scss-module__g5IvlG__s .Input-module-scss-module__g5IvlG__label.Input-module-scss-module__g5IvlG__floating {
  top: calc(var(--static-space-4)  - var(--static-space-1));
}

.Input-module-scss-module__g5IvlG__m .Input-module-scss-module__g5IvlG__label.Input-module-scss-module__g5IvlG__floating {
  top: calc(var(--static-space-8)  - var(--static-space-2));
}

.Input-module-scss-module__g5IvlG__input {
  width: 100%;
  height: 100%;
  color: var(--neutral-on-background-strong);
  padding: 0 var(--static-space-16);
  background: none;
  border: none;
  outline: none;
}

.Input-module-scss-module__g5IvlG__input.Input-module-scss-module__g5IvlG__placeholder {
  padding-top: 0;
}

.Input-module-scss-module__g5IvlG__input.Input-module-scss-module__g5IvlG__textarea.Input-module-scss-module__g5IvlG__placeholder {
  padding-top: var(--static-space-12);
  padding-bottom: var(--static-space-12);
}

.Input-module-scss-module__g5IvlG__input:not(.Input-module-scss-module__g5IvlG__placeholder), .Input-module-scss-module__g5IvlG__input.Input-module-scss-module__g5IvlG__placeholder.Input-module-scss-module__g5IvlG__hasChildren {
  padding-top: var(--static-space-16);
}

.Input-module-scss-module__g5IvlG__input::placeholder {
  color: var(--neutral-on-background-weak);
}

.Input-module-scss-module__g5IvlG__input:disabled {
  color: var(--neutral-on-background-weak);
  cursor: not-allowed;
}

:-webkit-any(.Input-module-scss-module__g5IvlG__input:autofill, .Input-module-scss-module__g5IvlG__input:-webkit-autofill) {
  background-color: var(--static-transparent) !important;
  -webkit-box-shadow: 0 0 0 var(--static-space-32) var(--neutral-background-medium) inset !important;
  -webkit-text-fill-color: var(--neutral-on-background-strong) !important;
}

:is(.Input-module-scss-module__g5IvlG__input:autofill, .Input-module-scss-module__g5IvlG__input:autofill) {
  background-color: var(--static-transparent) !important;
  -webkit-box-shadow: 0 0 0 var(--static-space-32) var(--neutral-background-medium) inset !important;
  -webkit-text-fill-color: var(--neutral-on-background-strong) !important;
}

.Input-module-scss-module__g5IvlG__error .Input-module-scss-module__g5IvlG__base {
  background-color: var(--danger-background-medium);
  border-color: var(--danger-border-medium);
}

.Input-module-scss-module__g5IvlG__error .Input-module-scss-module__g5IvlG__input, .Input-module-scss-module__g5IvlG__error .Input-module-scss-module__g5IvlG__prefix, .Input-module-scss-module__g5IvlG__error .Input-module-scss-module__g5IvlG__suffix {
  color: var(--danger-on-background-medium);
}

.Input-module-scss-module__g5IvlG__error .Input-module-scss-module__g5IvlG__label {
  color: var(--danger-on-background-weak);
}

.Input-module-scss-module__g5IvlG__prefix, .Input-module-scss-module__g5IvlG__suffix {
  align-self: center;
}

.Input-module-scss-module__g5IvlG__input[type="color"] {
  opacity: 0;
}

/*# sourceMappingURL=15a63_%40once-ui-system_core_dist_components_Input_module_scss_module_css_bad6b30c._.single.css.map*/